body{
    /* display: flex; */
    /* justify-content: space-around; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
    margin: auto;
    font-family: ProximaNova,Arial,Sans-serif;
    /* width: fit-content; */
    /* padding: auto; */
    /* background-color: rgb(228, 228, 228); */
    background-color: rgb(254, 253, 253); 
     /* background-color: transparent; */
     /* color: transparent; */
}